<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
    <listener class-name="POMRunner.ExtentReport"/>
    </listeners>
    <test name="C:/Users/deeks/Downloads/Maven_project/OctPomSeriesFramework-master/REST_Assured">
        <classes>
            <class name="POMRunner.AmazonExecution"></class>
            <class name="POMRunner.AmazonExecution"></class>
        </classes>
    </test>
</suite>